body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px;
}

ul{
    margin:0px;
    list-style-type: none;
    display: flex;
    justify-content:space-around;
    padding-inline-start:0px;
}

p{
    margin:0px;
    padding:0px;
}

#photo{
    background-color: lightgrey;
    height:80px;
    padding:10px;
}

#photoprofil{
    display:block;
    margin:auto;
    width:80px;
    border-radius: 50%;
    border: black 1px solid;
}

#infos{
    height:80px;
    background-color: #316694;
}

.edito{
    background-color: #316694;
}

h1{
    
    height:50px;
    font-size:1.5em;
    margin:0px;
    padding:0px;
    text-align: center;
    text-transform: capitalize;
    
}
h2{
    text-align: center;
    margin:5px;
    padding:0px;
}

footer{
    padding-bottom: 10px;
    margin-top: 20px;
    background-color: #316694;
    height:80px;
    display:flex;
    justify-content: center;
    align-items:flex-end;
}


footer img{
    margin:10px;

}


.edito{
    padding:20px;
    text-align: center ;
}

.projets{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

section{
    border-radius:5px;
    border: black 1px solid;
    width:30%;
    margin:20px;
    text-align: center;
}

form{
    height:140px;
    background-color: lightgrey;
    margin:10px;
    padding:10px;
}

form div{
    height:20%;

}

a{
    text-decoration: none;
    color: whitesmoke;
}

#send{
    display:flex;
    justify-content: flex-end;
}

footer img{
    height:30px;
}


